- provide(:title, 'About')

.row.bglite
  .large-12.columns
    %h2 About
    %p.lead<
      We are Bastard Guy Creative, a three-man disco that's ripped through code
      and coffee all weekend working to create CrowdPowered.

    %p<
      CrowdPowered was a conglomoration of all of our ideas, pulling from the best
      features of all the apps we brainstormed. It has the cojones to
      compete and kicks the pants off other volunteer sites. Nowhere else can you
      start from scratch and coordinate a community event combining multiple
      resources to ensure your event's success.

    %p<
      At it's heard, CrowdPowered is born and bred on Rails.

