- provide(:title, 'Home')

.row
  .masthead.home

.row.bglite
  .large-12.columns
    %h1 Community powered projects
    = image_tag('//placehold.it/970x200')
  .large-6.columns
    %h2.subheader Help is here!
    %p<
      CrowPowered helps find volunteers and collect contributions for your community project. With CrowdPowered, you can easily connect with other like-minded volunteers to organize community outreach in your area. CrowdPowered makes it easy to coordinate with others, gather supplies and collect contributions.
  .large-6.columns
    %h2.subheader Contribute what you can
    %p<
      Are you free next weekend? Give back by volunteering your time at a
      community event organized on CrowdPowered! On a tight schedule? No worries,
      all events need some support from behind the scenes. Throw a few bucks at a
      cause or lend some supplies to be used at the event. Everyone can contribute
      something!
.row.bglite
  .large-3.columns
    .cp-plug
      %div
        %i.fi-mountains.large
      %p Identify problems, large and small.
  .large-3.columns
    .cp-plug
      %div
        %i.fi-torsos-all.large
      %p Coordinate and collaborate with volunteers.
  .large-3.columns
    .cp-plug
      %div
        %i.fi-trophy.large
      %p Conquer the challenge together!
  .large-3.columns
    .cp-plug
      %div
        %i.fi-key.large
      %p Be the key to change in your city!
.row.bglite
  .large-12.columns
    = link_to('Create event', new_event_path, class: ['large', 'button', 'expand'])
