.row
  .large-12.columns
    .cp-event-cta
      = link_to('Join Us', new_event_order_path(@event), class: 'button secondary')
      %p.cp-event-cta-pitch.readable-shadow= I18n::t(:pitch, scope: [:events])
