%li
  .row.cp-comment
    .large-2.columns
      .cp-comment-user
        = image_tag('//placehold.it/50/50')
    .large-10.columns
      .cp-comment-content
        %p This is a comment.
        %p by: Senor Right
