.cp-event-comments
  %h3.subheader Comments
  %ul.no-bullet
    - unless @event.comments.empty?
      - @event.comments.each do |comment|
        = render 'comment', :comment => comment
%hr
- if current_user
  = render "events/forms/comment"
