.cp-event-supplies
  %h3.subheader Supplies
  %ul.cp-event-supplies-list
    - @event.supplies.each do |supply|
      %li
        .cp-supply
          %span= supply.name
          %span $#{supply.price}
          %span x #{supply.quantity} unit(s)
