.row
  .masthead.event
.row.bglite
  .large-6.columns
    %h1 Create a new event
    = render 'form'

  .large-6.columns
    %h2 Pitch pitch pitch

  .large-12.columns
    %p
      = link_to 'Back', events_path
