- provide(:title, 'New event')

.row
  .masthead.event

.row.bglite
  .large-6.columns
    %h1 Create a new event
    = render 'events/forms/new'

  .large-6.columns
    .cp-feature
      %i.fi-trees.large.left
      Beautify your area!
  .large-6.columns
    .cp-feature
      %i.fi-paint-bucket.large.left
      Put fresh coat of paint on it!
  .large-6.columns
    .cp-feature
      %i.fi-torsos-all.large.left
      Connect with your community!
  .large-6.columns
    .cp-feature
      %i.fi-key.large.left
      Be the key to change in your community!

  .large-12.columns
    %p
      = link_to 'Back', events_path
