/**
 * Variables
 */

// fonts
$fs-headings: roboto_condensedregular, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

// colors
$gray: #ccc;
$green: #6e9e49;
$orange: #f5912c;
$white: #fff;
