%header.header{ role: 'banner' }
  %nav.top-bar
    %ul.title-area
      %li.name Crowdpowered
    %section.top-bar-section
      %ul.right
        %li
          = link_to('First', '#')
        %li
          = link_to('Second', '#')
        %li
          = link_to('Third', '#')
